In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../linear_Regression/house_prices.csv")
df1.head()

   area  price
0    12  12333
1    10  11000
2     7   8000
3     4   4000
4     3   3120

In [7]:
df2 = pd.read_excel("../../../../todo.xlsx","Sheet1")
df2

,Date,Coding,Subject,Dev,Rest what you did,Goals,goals completed or not
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14/12/2022,java and OdinProject website learn,NaN,NaN,NaN,MERN PROJECTS at least 2,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,OdinProject website,NaN
4,NaN,NaN,NaN,NaN,NaN,Java + Spring learn,NaN
5,NaN,NaN,NaN,NaN,NaN,Python + ML learn,NaN
6,NaN,NaN,NaN,NaN,NaN,Github too,NaN

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ------------------------------------ 242.1/242.1 kB 361.8 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
weather_data = {
    'day':[1,2,3],
    'temp':[34,35,12],
    'even':['sunny','sunny','cold']
}
df = pd.DataFrame(weather_data)
df

   day  temp   even
0    1    34  sunny
1    2    35  sunny
2    3    12   cold

In [10]:
weather_data = [
    ('1',34.5,'Rain'),
    ('2',45.67,'Sunny'),
    ('3',12,'Cold')
]
df = pd.DataFrame(weather_data,columns=["index","temp","climate"])
df

  index   temp climate
0     1  34.50    Rain
1     2  45.67   Sunny
2     3  12.00    Cold